

.container{
  padding-block: 2rem;
}

.link{
  padding: 0.25rem 1.5rem;
  background-color: rgb(196, 187, 63);
  color: black;
  font-weight: 700;
  border-radius: 10px;
}

.nav,
ul{
  padding: 0.75rem;
}

.nav__links > li a {
  color: rgb(196, 187, 63);
  font-weight: 700;
}
h2{
  text-align: center;
}

.continentWrapper{
  height: 150px;
  /* width: 450; */
  background-color: antiquewhite;
  display: grid;
  place-items: center;
  
}

.continent_info{
  padding: 0.4rem;
}
.continent_info > * {
  margin-bottom: 0.5rem;
}

.continent_info > p span {
  color: black;
  font-weight: 600;
}

.continent_info > *:last-child{
  /* background-color: red; */
  margin-top: 1rem;
}